
<section>
    <h1 class="mb-4">¡Es mi página principal, poco creativa!</h1>
    <h1 class="mb-4">Sección 1</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum odio in felis mattis feugiat.
      In rhoncus libero magna, ultricies condimentum tortor tempor sit amet. Donec eget ante eu justo malesuada
      fermentum sed ut nunc. Suspendisse vestibulum metus eu consectetur tempus. Mauris id tortor a ante rhoncus
      cursus vel ac leo. Morbi scelerisque massa a elit pulvinar, non tristique ipsum semper. Integer sed nisi
      tincidunt, volutpat nulla vitae, tincidunt ipsum. Mauris consectetur, nunc vel fermentum consequat, felis
      libero euismod est, et tempus tellus tellus eu ex.
    </p>
  </section>

  <section>
    <h1 class="mb-4">Sección 2</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer interdum odio in felis mattis feugiat.
      In rhoncus libero magna, ultricies condimentum tortor tempor sit amet. Donec eget ante eu justo malesuada
      fermentum sed ut nunc. Suspendisse vestibulum metus eu consectetur tempus. Mauris id tortor a ante rhoncus
      cursus vel ac leo. Morbi scelerisque massa a elit pulvinar, non tristique ipsum semper. Integer sed nisi
      tincidunt, volutpat nulla vitae, tincidunt ipsum. Mauris consectetur, nunc vel fermentum consequat, felis
      libero euismod est, et tempus tellus tellus eu ex
    </p>
  </section>